.event-card {
    display: flex;
    border-radius: .5rem;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .15), 0 2px 4px rgba(0, 0, 0, .12);
}

.event-card + .event-card {
    margin-top: 2rem;
}

.event-card:last-child {
    margin-bottom: 2rem;
}

.event-card__image {
    width: 2rem;
    height: 2rem; 
    > * {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center 75%;
        border-radius: 100vw;
        overflow: hidden;
    }
}

.event-card__info {
    flex: 70%;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.event-card__header {
    margin-bottom: 1rem;
    > * {
        display: block;
        line-height: 1;
    }
}

.event-card__date {
    font-size: .7rem;
    color: #725f57;
}

.event-card__description {
    line-height: 1;
}